<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <div class="menu-page">
        <h1>Welcome, {{ session['username'] }} 🍴</h1>
        <div class = "menu-container">
            {% for item in items %}
            <div class="menu-card">
                <img src="{{ url_for('static', filename='images/' + item[3]) }}" alt="{{ item[1]  }}" >
                <h2>{{ item[1]  }}</h2>
                <p> {{ item[2] }}</p>
                <form method="POST" action="/add_to_cart">
                    <input type="hidden" name="item_id" value="{{ item[0]}}">
                    <button type="submit">Add to Carts</button>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>